---
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro';
import HeroSection from '../components/HeroSection.astro'
import ModalY from '../components/ModalY.astro';
import SolarRoof from '../components/SolarRoof.astro';
import Section from '../components/Section.astro';
---

<Layout title="Tesla Website">
	<LandingHeader />

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		<div class="snap-center overflow-x-hidden">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ModalY />
		</div>
		<div class="snap-center">
			<SolarRoof />
		</div>
	</main>
</Layout>
