--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
	  font-family: 'Raleway';
	  font-style: normal;
	  font-weight: 100;
	  src: url('../assets/fonts/Raleway-Thin.ttf') format('truetype');
	}

	@font-face {
	  font-family: 'Raleway';
	  font-style: normal;
	  font-weight: 300;
	  src: url('../assets/fonts/Raleway-Light.ttf') format('truetype');
	}

	@font-face {
	  font-family: 'Raleway';
	  font-style: normal;
	  font-weight: 400;
	  src: url('../assets/fonts/Raleway-Regular.ttf') format('truetype');
	}

	@font-face {
	  font-family: 'Raleway';
	  font-style: normal;
	  font-weight: 500;
	  src: url('../assets/fonts/Raleway-Medium.ttf') format('truetype');
	}

	@font-face {
	  font-family: 'Raleway';
	  font-style: normal;
	  font-weight: 700;
	  src: url('../assets/fonts/Raleway-Bold.ttf') format('truetype');
	}
</style>

